
.header
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);


.parallax__layer--fore2 {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 5;
}

#itevents
	.title-name
		.img
			margin 0px 25px 0px 0px

#one-play
	.link-download
		margin 20px auto
		&.g-play
			background url("../img/btn-oneplay.png") no-repeat
			background-size 172px 60px
			width 172px
			height 60px
			display block

#minsk
	.description
		font-size 18px
		font-family Roboto
		font-weight 100

#calc
	.title-name
		margin-bottom 0
		.img
			margin 0px 25px 0px 0px

	.subtitle-name
		color #ff8300
		font-size 33px
		font-family Roboto
		font-weight normal
		margin-bottom 10px

.big-img
	
	/#media-cab &
		background-image url("../img/img-mediacab.png")
		background-size contain
		background-position center bottom 0px
	
	/#one-play &
		background-image url("../img/img-oneplay.png")
		background-size contain
		background-position center bottom 40px
	
	/#itevents &
		background-image url("../img/img-itevents.png")
		background-size auto 100%
		background-position center bottom -80px
		height 100%
	
	/#minsk &
		background-image url("../img/img-minsk.png")
		background-size contain
		background-position center bottom 0px
	
	/#calc &
		background-image url("../img/img-calc.png")
		background-size auto 100%
		background-position center bottom -120px
		height 100%
	
	/#crimea-guide &
		background-image url("../img/img-crimea.png")
		background-size contain
		background-position center bottom 0px

	/#bigbeat-radio &
		background-image url("../img/img-radio.png")
		background-size contain
		background-position center bottom 0px

.home-title
	p
		color #ffffff
		font-size 60px
		font-family Roboto
		font-weight 100

.home-title {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.animation-text-selection
	color #ffea3b

.item-features
	text-align center
	padding-left 20px
	padding-right 20px
	padding-top 20px
	padding-bottom 20px
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: 0.3s all cubic-bezier(0.48, 0.04, 0.21, 0.94);
	-moz-transition: 0.3s all cubic-bezier(0.48, 0.04, 0.21, 0.94);
	transition: 0.3s all cubic-bezier(0.48, 0.04, 0.21, 0.94);

.item-features:hover
	-webkit-transform: translate3d(0, -2px, 0);
	-moz-transform: translate3d(0, -2px, 0);
	-ms-transform: translate3d(0, -2px, 0);
	-o-transform: translate3d(0, -2px, 0);
	transform: translate3d(0, -2px, 0);
	box-shadow: 0px 5px 34px rgba(0,0,0,0.1),0px 26px 16px -20px rgba(0,0,0,0.1);

.text-title-features
	margin-top 5px
	margin-bottom 5px
	color #000
	font-size 20px
	font-family Roboto
	font-weight 400

.description-features
	color #000
	font-size 16px
	font-family Roboto
	font-weight 100
	text-align center

.item-contact
	min-width 320px
	height 65px
	display table
	margin-top 30px
	margin-bottom 30px
	text-decoration none

	.content-item-contact
		width 100%
		display table-cell
		text-align left
		vertical-align middle
		color #FFF
		font-size 22px
		font-family Roboto
		font-weight 300

		.title-content-item-contact
			font-size 18px
			font-weight 100

	img
		float left
		margin-right 10px
		width 65px
		height 65px

.item-contact:hover
	text-decoration none

#skype:hover
	img
		content url("../img/ico-skype.png")

#email:hover
	img
		content url("../img/ico-email.png")

#linkedin:hover
	img
		content url("../img/ico-linkedin.png")

#features
	.title-name
		margin-bottom 30px

	.row
		margin-bottom 20px

#bigbeat-radio-img
	position absolute
	
.absolute
	position absolute

#media-cab

	.table-content
		width 100%
		height 100%

	td
		position relative

	.title-table
		height 85px

	.content-table
		min-height 100%

	.title-name
		//float 

	.panel
		background-color transparent
		border-style solid
		border-radius: 0px;
		-webkit-box-shadow: 0 1px 0px rgba(255, 234, 59, 0.4);

	.panel-title
		cursor pointer
		padding-top 10px
		padding-bottom 10px
		padding-left 5px
		padding-right 5px
		font-size 20px
		font-family Roboto
		font-weight 200
		color #ffea3b

		.img-arrow
			width 18px
			height 18px
			background-image url("../img/ic_arrow_up.png")

	.collapsed
		.img-arrow
			background-image url("../img/ic_arrow_down.png")

	.panel-group
		margin-bottom 50px

	.panel-body
		font-size 16px
		font-family Roboto
		font-weight 100
		color #fff
		margin-top 0px
		margin-bottom 0px
		padding-top 0px

		p
			font-size 16px
			font-family Roboto
			font-weight 100
			color #fff
			margin-top 0px
			margin-bottom 0px

.img-arrow
	float right
	margin-top 5px

@media (max-width: 990px)
	.big-img

		/#one-play &
			height 250px
			background-position 50% 0
			background-size contain

		/#media-cab &
			height 250px
			background-position 50% 0
			background-size contain

		/#itevents &
			height 430px
			background-position 50% 0
			background-size auto 430px

		/#minsk &
			height 250px
			background-position 50% 0
			background-size contain

		/#calc &
			height 430px
			background-position 50% 0
			background-size auto 430px

		/#crimea-guide &
			height 450px
			background-position 50% 0
			background-size contain

		/#bigbeat-radio &
			height 250px
			background-position 50% 0
			background-size contain

	#home
		min-height 100vh
		.home-title
			top 55vh

@media (max-width: 480px) // phone port
	.home-title
		p
			font-size 24px

@media (min-width: 481px) and (max-width: 640px) // phone land and tablet port
	.home-title
		p
			font-size 36px

@media (min-width: 641px) and (max-width: 990px)
	.home-title
		p
			font-size 50px
	

