*
	margin 0
	padding 0
	border 0
	font-size 100%
	font inherit
	vertical-align: baseline
	list-style none

html
	height 100%

body
	font-family $main-ff
	color $main-color
	font-size $main-fs
	background-color $main-bg-c
	font-weight 400
	position relative
	height 100%





h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
	color #000
	margin 0

h1, .h1,
h2, .h2,
h3, .h3
	// margin-top 5px
	margin-bottom 20px
	font-weight 600

h4, .h4,
h5, .h5,
h6, .h6
	// margin-top: 5px
	margin-bottom 15px
	font-weight 500

h1,.h1
	font-size 22px

h2,.h2
	font-size 20px

h3,.h3
	font-size 18px

h4,.h4
	font-size 16px

h5,.h5
	font-size 14px
h6,.h6
	font-size 14px
	font-weight 400



p
	font-size 14px
	color #999999
	font-weight 400

a
	color #000

	&:hover
		color #000
		text-decoration underline

.margin-0
	margin 0

hr
	margin-top 15px
	margin-bottom 15px
	&.small-marg
		margin 10px 0 5px

.w100
	width 100%
	display block

.m20
	margin 20px 20px 30px

.mb15
	margin-bottom 15px

.display-b
	display block

.datepicker
	cursor pointer !important

.f-gray
	color #999999
.f-green
	color #199136
.f-black
	color #000000
.f-white
	color #ffffff

.row
	margin-left -5px
	margin-right -5px

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
	padding-left 5px
	padding-right 5px



.zi-1
	z-index 1
.zi-2
	z-index 2
.zi-3
	z-index 3
.zi-4
	z-index 4
.zi-5
	z-index 5


.text-center
	text-align center
.text-left
	text-align left
.text-right
	text-align right

.height-100
	height 100%







/* Parallax base styles
--------------------------------------------- */

.parallax {
	height: 500px; /* fallback for older browsers */
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective: 300px;
	perspective: 300px;
}

.parallax__group {
	position: relative;
	min-height: 100%; /* fallback for older browsers */
	height: 100vh;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.parallax__layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.parallax__layer--fore {
	-webkit-transform: translateZ(90px) scale(.7);
	transform: translateZ(90px) scale(.7);
	z-index: 1;
}

.parallax__layer--base {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 4;
}

.parallax__layer--back {
	-webkit-transform: translateZ(-300px) scale(2);
	transform: translateZ(-300px) scale(2);
	z-index: 3;
}

.parallax__layer--deep {
	-webkit-transform: translateZ(-600px) scale(3);
	transform: translateZ(-600px) scale(3);
	z-index: 2;
}

.title {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}