
.header
	position fixed
	height 64px
	background #4285f4
	left 0
	top 0
	width 100%
	z-index 100
	
	.logo
		text-transform uppercase
		font-size 30px
		line-height 64px
		margin-left 30px
		color white
		letter-spacing 0.4ex
		text-decoration none
	
	.navbar-nav
		a
			font-size 20px
			text-transform uppercase
			height 64px
			padding 0 30px
			color white
			line-height 63px
			transition: 100ms;
			
			&:hover
				background none
				border-bottom solid 3px white

.parallax__group
	.bg-layer
		background-position 50%
		background-repeat no-repeat
		background-size cover
#home
	.bg-layer
		background-image url("../img/home-bg.png")
		background-position 50% 100%

#media-cab
	.bg-layer
		background-image url("../img/media-cab.png")

#kinosovetnik
	.bg-layer
		// background-image url("../img/kinosovetnik.jpg")
		background-image url("../img/kinosovetnik-blur.png")
		background-position 50% 100%

#minsk
	.bg-layer
		background-image url("../img/minsk.png")

#bigbeat-radio
	.bg-layer
		background-image url("../img/bigbeat-radio.png")

#contact
	.bg-layer
		background-image url("../img/contact.png")

.gray-layer
	color black
	.bg-layer
		background #f9f9f9

.pattern
	position absolute
	width 100%
	height 100%
	background-image url("../img/pattern.png")
	background-repeat repeat

.pattern2
	position absolute
	width 100%
	height 100%
	background-color #000000
	opacity 0.7

.top64
	top 64px

.title-name
	margin-top 25px
	margin-bottom 10px
	font-size 60px
	font-family Roboto
	font-weight 100
	.img
		display inline-block
		margin 0 25px

.content-wrapp
	display inline-block
	vertical-align middle
	width 99%
	font-size 18px

.vertical-middle
	&:before
		content " "
		display inline-block
		height 100%
		vertical-align middle

.link-download
	margin 20px auto
	&.g-play
		background url("../img/app.png") no-repeat
		background-size 172px 60px
		width 172px
		height 60px
		display block

.big-img
	height 100%
	background-position 50% 100%
	background-repeat no-repeat
	
	/#kinosovetnik &
		background-image url("../img/img-kino.png")
		background-size auto 100%
		background-position center bottom -70px
		height 100%

@media (max-width: 990px)

	.parallax
		-webkit-perspective inherit
		perspective inherit
		height auto
		
	.parallax__layer--fore,.parallax__layer--base,.parallax__layer--back,.parallax__layer--deep
	-webkit-transform inherit
	transform inherit
	
	.parallax__group
		-webkit-transform-style inherit
		transform-style inherit
		.bg-layer
			position absolute
			background-size cover
	
	.parallax__group 
		min-height 500px
		height auto
	
	.parallax__layer
		position relative
	
	.top64
		top 0
		padding-top 70px
	
	.big-img
		/#kinosovetnik &
			height 430px
			background-position 50% 0
			background-size auto 430px
			





