
.form-email
    width 100%
    margin-bottom 20px
    background #ffffff
    border 1px solid #ebebeb
    border-radius 2px
    box-shadow 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
    font-family 'Roboto'

.form-content {
	margin: 24px;
	padding-top: 1px;
}

.form-action {
	height: 52px;
}

.form-group {
	position: relative; 
	margin-top: 14px;
	padding-bottom: 16px;
}

input {
	display: block;
	font-size: 16px;
	padding: 8px 0;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid rgba(0,0,0,0.12);
	-webkit-appearance: none;
}

textarea {
	font-size: 18px;
	padding: 8px 0;
	width: 100%;
	font-size: 18px;
	min-height: 100px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid rgba(0,0,0,0.12);
}

input:focus,
textarea:focus,
.button-send:focus {
	outline: none;
}

input.used ~ label,
input:focus ~ label,
textarea:focus ~ label, 
textarea:valid ~ label {
	font-size: 12px;
	color: #4a89dc;
	top: -13px;
	-webkit-transition: all 0.125s ease;
			transition: all 0.125s ease;
}

label {
	color: #999999; 
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0px;
	top: 11px;
	-webkit-transition: all 0.2s ease;
	        transition: all 0.2s ease;
}

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 0px; 
	position: absolute;
	background: #4a89dc; 
	-webkit-transition: all 0.2s ease; 
	        transition: all 0.2s ease;
}

.bar:before {
	left: 50%;
}

.bar:after {
	right: 50%;
}

textarea ~ .bar:before, 
textarea ~ .bar:after {
	bottom: 4px; 
}

input:focus ~ .bar:before, 
input:focus ~ .bar:after,
textarea:focus ~ .bar:before, 
textarea:focus ~ .bar:after { 
	width: 50%;
}

.button-send {
	position: relative;
	display: inline-block;
	height: 36px;
	min-width: 64px;
	padding: 0 20px;
	margin: 8px;
	vertical-align: middle;
	text-align: center;
	color: #ffffff;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 500;
	line-height: 36px;
	letter-spacing: 0;
	color: rgb(74,137,220);
	background: transparent;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	float: right;
	-webkit-font-smoothing: antialiased;
	    -webkit-transition: all 0.15s ease;
	            transition: all 0.15s ease;
}

.button-send:hover { 
	background: #e4e4e4;
}

.ripples {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: transparent;
}

.ripplesCircle {
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	width: 0;
	height: 0;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.3);
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.is-pressed {
	background: rgba(0, 0, 0, 0.3);
}

.ripples.is-active .ripplesCircle {
	-webkit-animation: ripples .25s ease-in;
	      	animation: ripples .25s ease-in;
}

@-webkit-keyframes ripples {
	0% { opacity: 0; }

	25% { opacity: 1; }

	100% {
		width: 200%;
		padding-bottom: 200%;
		opacity: 0;
	}
}

@keyframes ripples {
	0% { opacity: 0; }

	25% { opacity: 1; }

	100% {
		width: 200%;
		padding-bottom: 200%;
		opacity: 0;
	}
}
